{extend name="index_layout"/}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/mmgrid/mmGrid.css" />
{/block}
{block name="script"}
<script src="__STATIC__/libs/mmgrid/mmGrid.js" type="text/javascript"></script>
<script src="__STATIC__/admin/js/user.js" type="text/javascript"></script>
{/block}
{block name="main"}

<div class="layui-card">
    <div class="layui-card-header">会员等级管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>

<form autocomplete="off" >
   <div id="query">
        <select name="userType" id="userType" class="query">
          <option value="">会员类型</option>
          <option value="0">普通会员</option>
          <option value="1">商家</option>
        </select>
        <input type="text" style="height:16px;" name="loginName1"  placeholder='账号名称' id="loginName1" class="query" />
        <input type="text" style="height:16px;" name="loginPhone" placeholder='手机号码' id="loginPhone" class="query" />
        <input type="text" style="height:16px;" name="loginEmail" placeholder='电子邮箱' id="loginEmail" class="query" />
        <button type="button" class="btn btn-primary" onclick="javascript:userQuery()" ><i class="fa fa-search"></i>查询</button> 
  </div>
</form>
<div class="layui-btn-container" style="margin-top:10px;">
    <a class="layui-btn layui-btn-sm" onclick="javascript:location.href='{:Url(\'/admin/user/toEditRanks\',\'p=\'.$p)}'">新增会员</a>
</div>
<div id="mmg" class="mmg"></div>
<div id="pg" style="text-align: right;"></div>
<script>
  $(function(){initGrid({$p})});
</script>
{/block}
