{extend name="index_layout"/}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/mmgrid/mmGrid.css" />
{/block}
{block name="script"}
<script src="__STATIC__/admin/js/gridtree.js" type="text/javascript"></script>
<script src="__STATIC__/admin/js/goodscats.js" type="text/javascript"></script>
<script>
$(function () {

    $('#goodscatsForm').validator({

        fields: {
            catName: {
                tip: "请输入商品分类名称",
                rule: '商品分类名称:required;length[~20];'
            },
            catSort: {
                tip: "请输入排序号",
                rule: '排序号:required;length[~8];'
            }
        },
        valid: function(form){
            var catId = $('#catId').val();
            toEdits(catId);
        }
    });
});
</script>
{/block}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">商品分类</div>
    <div class="layui-card-body">
        <form class="layui-form" id="goodscatsForm" autocomplete="off">
            <input type='hidden' id='parentId' name="parentId" class='ipt' value="{$object.parentId}"/>
            <div class="layui-form-item">
                <label class="layui-form-label">名称 </label>
                <div class="layui-input-inline w300">
                    <input type="text" name="catName" id="catName"lay-verify="required" autocomplete="off" placeholder="名称" class="ipt" value="{$object.catName}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">序号</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="catSort" id="catSort" lay-verify="required" autocomplete="off" placeholder="排序" class="ipt" value="{$object.catSort}">
                </div>
            </div>
            <input type="hidden" name="catId" id="catId" value="{$object.catId}" />

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" >立即提交</button>

                    <a class="layui-btn layui-btn-normal" href="javascript:;" onClick="javascript:history.go(-1);">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
