<input type='hidden' id='goodsId' class='j-ipt' value='{$object["goodsId"]}'/>
<table class='pyg-form' style="line-height:50px;">
  <tr>
     <th width='150'>商品名称<font color='red'>*</font>：</th>
     <td width='550'>
        <textarea style='height:50px;width:400px' class='j-ipt' id='goodsName' maxLength='150' data-rule='商品名称:required;'>{$object["goodsName"]}</textarea>
     </td>
     <td rowspan='6'>
      <div id='goodsImgBox' style='margin-bottom:5px;'>
        <img src='{if $object["goodsImg"]!=''}{$object["goodsImg"]}{else}__STATIC__/admin/img/goods.png{/if}' id='preview' width='150' height='150'>
        </div>
        <button type="button" style="margin-left:15px;margin-top:10px" class="layui-btn layui-btn-primary pull-left" id="slide-pc1">选择商品图片</button>
        <input type='hidden' id='goodsImg' class='j-ipt' data-target='#msg_goodsImg' value='{if $object["goodsId"]>0}{$object["goodsImg"]}{/if}' data-rule="商品图片: required;"/>
     </td>
  </tr>
  <tr>
     <th>商品编号<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='goodsSn' value='{$object["goodsSn"]}' maxLength='20' data-rule='商品编号:required;'/></td>
  </tr>
  <tr>
     <th>市场价格<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='marketPrice' value='{$object["marketPrice"]}' maxLength='10' data-rule='市场价格:required;price' data-rule-price="[/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/, '价格必须大于0']" onblur="javascript:limitDecimal(this,2)" onkeypress="return isNumberdoteKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>
  <tr id='goodsStockTr'>
     <th>商品库存<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='goodsStock' value='{$object["goodsStock"]}' maxLength='10' data-rule='商品库存:required;integer[+0]' onkeypress="return isNumberKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>
  <tr>
     <th>预警库存<font color='red'>*</font>：</th>
     <td colspan='2'><input type='text' class='j-ipt' id='warnStock' value='{$object["warnStock"]}' maxLength='10' data-rule='预警库存:required;integer[+0]' onkeypress="return isNumberKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>
  <tr>
     <th>商品单位<font color='red'>*</font>：</th>
     <td colspan='2'><input type='text' class='j-ipt' id='goodsUnit' value='{$object["goodsUnit"]}' maxLength='10' data-rule='商品单位:required;'/></td>
  </tr>
  <tr>
     <th>前台关键词搜素<font color='red'>*</font>：</th>
     <td colspan='2'><input type='text' class='j-ipt' id='goodsSerachKeywords' value='{$object["goodsSerachKeywords"]}' maxLength='10' data-rule='关键词:required;'/></td>
  </tr>
  <tr>
     <th>商品状态<font color='red'>*</font>：</th>
     <td colspan='2'>
        <label><input type='radio' name='isSale' id="isSale-0" class='j-ipt' value='0' {if $object['isSale']==0}checked{/if} />下架</label>
        <label><input type='radio' name='isSale' id="isSale-1" class='j-ipt' value='1' {if $object['isSale']==1}checked{/if} />上架</label>
     </td>
  </tr>
  <tr>
     <th>商品属性：</th>
     <td colspan='2'>
	        <input id="isRecom" name='isRecom' lay-skin="primary" class="j-ipt" {if $object['isRecom']==1}checked{/if} value="1" type="checkbox"/>推荐
	        <input id="isBest" name="isBest" lay-skin="primary" class="j-ipt" {if $object['isBest']==1}checked{/if} value="1" type="checkbox"/>特价
	        <input  id="isNew" name="isNew" lay-skin="primary" class="j-ipt" {if $object['isNew']==1}checked{/if} value="1" type="checkbox"/>新品
	        <input id="isHot" name="isHot" lay-skin="primary" class="j-ipt" {if $object['isHot']==1}checked{/if} value="1" type="checkbox"/>热卖
     </td>
  </tr>
  <tr>
     <th>商城分类<font color='red'>*</font>：</th>
     <td colspan='2'>
         <select id="cat_0" class='ipt j-goodsCats' level="0" onchange="ITGoodsCats({id:'cat_0',val:this.value,isRequire:true,className:'j-goodsCats',afterFunc:'lastGoodsCatCallback'});getBrands('brandId',this.value)">
	      	<option value="">-请选择-</option>
	      	{volist name=":PYGGoodsCats(0)" id="vo"}
	        <option value="{$vo['catId']}">{$vo['catName']}</option>
	        {/volist}
	     </select>
     </td>
  </tr>
  <tr>
     <th>品牌：</th>
     <td colspan='2'>
         <select id="brandId" class='j-ipt'>
            <option value="0">-请选择-</option>
         </select>
     </td>
  </tr>
  <tr>
     <th>商品描述<font color='red'>*</font>：</th>
     <td colspan='2'>
         <textarea rows="2" cols="60" id='goodsDesc' class='j-ipt' name='goodsDesc' data-rule='商品描述:required;'>{$object['goodsDesc']}</textarea>
     </td>
  </tr>
  <tr>
     <td colspan='3' align='center' style='text-align:center;padding-top:10px;'>
        <button type='button' class="btn btn-primary btn-mright" onclick='javascript:save({$p})'><i class="fa fa-check"></i>保&nbsp;存</button>
        <button type='button' class="btn" onclick="toBack({$p},'{$src}')"><i class="fa fa-angle-double-left"></i>返&nbsp;回</button>
     </td>
  </tr>
</table>