{extend name="index_layout"/}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/webuploader/batchupload.css" />
<link href="__STATIC__/libs/validator/jquery.validator.css" rel="stylesheet">
{/block}
{block name="script"}
<script src="__STATIC__/libs/kindeditor/kindeditor.js" type="text/javascript" ></script>
<script type='text/javascript' src='__STATIC__/admin/js/goods.js'></script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
    laydate.render({
        elem: '#start_time'
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#stop_time'
        ,type: 'datetime'
    });
})
var initBatchUpload = false,editor1 = null;
{php}unset($object['goodsDesc']);{/php}
var OBJ = <?=json_encode($object)?>;
$(function(){initEdit()});

</script>
{/block}
{block name="main"}
<form id='editseckillform' autocomplete='off'>
<input type='hidden' id='goodsId' class='j-ipt' value='{$object["goodsId"]}'/>
<table class='pyg-form' style="line-height:50px;">
  <tr>
     <th width='150'>商品名称<font color='red'>*</font>：</th>
     <td width='550'>
        <textarea style='height:50px;width:400px' class='j-ipt' id='title' maxLength='150' data-rule='商品名称:required;'>{$object["goodsName"]}</textarea>
     </td>
     <td rowspan='6'>
      <div id='goodsImgBox' style='margin-bottom:5px;'>
        <img src='{if $object["goodsImg"]!=''}{$object["goodsImg"]}{else}__STATIC__/admin/img/goods.png{/if}' id='preview' width='150' height='150'>
        </div>
        <button type="button" style="margin-left:15px;margin-top:10px" class="layui-btn layui-btn-primary pull-left" id="slide-pc1">选择商品图片</button>
        <input type='hidden' id='image' class='j-ipt' data-target='#msg_goodsImg' value='{if $object["goodsId"]>0}{$object["goodsImg"]}{/if}' data-rule="商品图片: required;"/>
     </td>
  </tr>
  <tr>
     <th>商品编号<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='goods_sn' value='{$object["goodsSn"]}' maxLength='20' data-rule='商品编号:required;'/></td>
  </tr>
  <tr>
     <th>原价<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='ot_price' value='{$object["marketPrice"]}' maxLength='10' data-rule='市场价格:required;price' data-rule-price="[/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/, '价格必须大于0']" onblur="javascript:limitDecimal(this,2)" onkeypress="return isNumberdoteKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>
  <tr>
     <th>秒杀价格<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='price' value='{$object["proPrice"]}' maxLength='10' data-rule='市场价格:required;price' data-rule-price="[/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/, '价格必须大于0']" onblur="javascript:limitDecimal(this,2)" onkeypress="return isNumberdoteKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>
  <tr id='goodsStockTr'>
     <th>商品库存<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='stock' value='{$object["goodsStock"]}' maxLength='10' data-rule='商品库存:required;integer[+0]' onkeypress="return isNumberKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>

    <tr id='goodsStockTr'>
     <th>单词购买数量<font color='red'>*</font>：</th>
     <td><input type='text' class='j-ipt' id='num' value='0' maxLength='10' data-rule='商品库存:required;integer[+0]' onkeypress="return isNumberKey(event)" onkeyup="javascript:isChinese(this,1)"/></td>
  </tr>

  <tr>
     <th>秒杀时间<font color='red'>*</font>：</th>
     <td colspan='2'>
        <input type="text" id="start_time"  name="start_time" class="laydate-icon j-ipt" value='{$object["proStartTime"]}' placeholder='促销开始日期'/>
        至
        <input type="text" id="stop_time" name="stop_time" class="laydate-icon j-ipt" value='{$object["proEndTime"]}' placeholder='促销结束日期'/>
     </td>
  </tr>

  <tr>
     <th>活动状态<font color='red'>*</font>：</th>
     <td colspan='2'>
        <label><input type='radio' name='status' id="status-1" class='j-ipt' value='1' {if $object['isSale']==1}checked{/if} />上架</label>
        <label><input type='radio' name='status' id="status-0" class='j-ipt' value='0' {if $object['isSale']==0}checked{/if} />下架</label>
     </td>
  </tr>
  <tr>
     <th>秒杀活动简介<font color='red'>*</font>：</th>
     <td colspan='2'>
         <textarea rows="2" cols="60" id='goodsDesc' class='j-ipt' name='goodsDesc' data-rule='商品描述:required;'>{$object['goodsDesc']}</textarea>
     </td>
  </tr>
  <tr>
  <th>相册图集<font color='red'>*</font>：</th>
     <td colspan='3'>
  <div style="float: left;margin-left: -110px;">
  
  <div class="layui-input-block" style="width: 70%;">
    <div class="layui-upload">
    
      <div class="pic-more">
        <ul  class="pic-more-upload-list" id="slide-pc-priview">
        {foreach name="object['gallery']" item="vo" key="k"}
          <li class="item_img" style="line-height:10px;" >
            <img src="{$vo}" style="width:100px;height:100px;" class="img" >
            <input type="hidden" name="gallery[]" value="{$vo}" />
          </li>
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
</div>
</td>
</tr>
  <tr>
     <td colspan='3' align='center' style='text-align:center;padding-top:10px;'>
        <button type='button' class="btn btn-primary btn-mright" onclick='javascript:saveSeckill()'><i class="fa fa-check"></i>保&nbsp;存</button>
        <button type='button' class="btn" onclick="toBack({$p},'{$src}')"><i class="fa fa-angle-double-left"></i>返&nbsp;回</button>
     </td>
  </tr>
</table>
</form>
{/block}