{extend name="index_layout"/}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/libs/mmgrid/mmGrid.css" />
{/block}
{block name="script"}
<script src="__STATIC__/libs/mmgrid/mmGrid.js" type="text/javascript"></script>
<script src="__STATIC__/admin/js/express.js" type="text/javascript"></script>
{/block}
{block name="main"}

<div id='alertTips' class='alert alert-success alert-tips fade in'>
  <div id='headTip' class='head'><i class='fa fa-lightbulb-o'></i>操作说明</div>
  <ul class='body'>
    <li>本功能主要用于管理快递公司的信息。快递代码主要用于物流插件的快递识别查询，填写时请参照各物流插件的快递代码填写。</li>
  </ul>
</div>


<div class="layui-btn-container" style="margin-left:6px;margin-top:10px;">
    <a class="layui-btn layui-btn-sm" onclick='javascript:toEdit(0)'>新增快递</a>
</div>

<div id="mmg" class="mmg"></div>
<div id="pg" style="text-align: right;"></div>

<div id='expressBox' style='display:none'>
    <form id='expressForm' autocomplete="off">
    <table class='wst-form wst-box-top'>
       <tr>
          <th width='100'>快递名称<font color='red'>*</font>：</th>
          <td><input type='text' id='expressName' name="expressName"  class='ipt' maxLength='20'/></td>
       </tr>
       <tr>
          <th width='100'>快递代码：</th>
          <td><input type='text' id='expressCode' name="expressCode"  class='ipt' maxLength='20'/></td>
       </tr>
       <tr>
          <td colspan="2" style="padding-left: 35px;">快递代码是用于物流查询，请查询所启用插件的快递代码</td>
       </tr>
    </table>
    </form>
 </div>
<script>
  $(function(){initGrid({$p})});
</script>
{/block}