<div class="m-checkinCalendarPrompt-box" id="sign_box" style='display: none'>
    <div class="m-checkinCalendarPrompt">
        <span class="u-icon u-icon-arrowup"></span>
        <div class="m-checkinCalendarPrompt-tip">
            <span>连续签到有更多惊喜哦</span>
        </div>
        <div class="m-checkinCalendar">
            <div class="calendar-hd">
                <span class="before"></span>
                <span>{$today}</span>
            </div>
            <div class="calendar-bd">
                <div class="calendar-week-box">
                    <span class="calendar-week">日</span>
                    <span class="calendar-week">一</span>
                    <span class="calendar-week">二</span>
                    <span class="calendar-week">三</span>
                    <span class="calendar-week">四</span>
                    <span class="calendar-week">五</span>
                    <span class="calendar-week last">六</span>
                </div>
                <div class="calendar-days">
                    {foreach name="canlendars" item="row"}
                        <div class="calendar-day-box {$row.date|is_in_array=###,$signs_dates,'isSigned'} {if condition='$row.date eq $today'}today{/if} {if condition='$row.num elt 0 or $row.num gt $days'}no-nowMonth-day{/if}">
                            <span class="before"></span>
                            <p class="calendar-day">{$row.day}</p>
                            <span class="after"></span>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>