a {
    text-decoration: none;
}
.f-vam { vertical-align: middle; }
.f-vab { vertical-align: bottom; }
.f-vas { vertical-align: super; }
.f-dib { display:inline-block; *display:inline; *zoom:1;}
.f-dtc { display:table-cell; }
.f-relative {position:relative; }
.f-tal { text-align:left; }
.u-icon { display:inline-block; background-image:url(../img/personal_userpoints.png); background-size:800px 600px; }
.u-icon-bean { background-position:0 0; width:48px; height:61px;  }
.u-icon-gift1 { background-position:-60px 0; width:19px; height:19px; }
.u-icon-gift2 { background-position:-60px -20px; width:19px; height:19px; }
.u-icon-succ1 { background-position:-20px -65px; width:20px; height:20px; }
.u-icon-gift3 { background-position:-120px 0; width:230px; height:142px; }
.u-icon-arrowdown { background-position:-60px -50px; width:15px; height:9px;   }
.u-icon-arrowup { background-position:-60px -65px; width:15px; height:9px; }
.u-icon-arrow { background-position:0 -65px!important; width:14px; height:14px;}
.u-icon-arrow-dis { background-position:0 -79px; width:14px; height:14px;}
.u-icon-coupon {background-position:-124px -153px;width:204px;height:72px;}
.m-checkinwrap { padding:30px 0 0 50px; margin-left:221px; }
.m-checkinwrap .cnt { height:50px; width:450px; overflow:hidden; }

.m-pointlist { position:relative; float:left; margin:10px 0 18px;  }
.m-pointlist .item { position:relative; float:left; *display:inline; *width:38px; z-index:1; margin:0 30px 0 0; background:#fff; text-align:center; color:#333;}
.m-pointlist .last { margin-right:0px; }
.m-pointlist .num { position:relative; width:38px; height:38px; margin:0 0 5px; border-radius:38px; border:1px solid #cbcbcb; color:#666; line-height:38px; }
.m-pointlist .num-1 { border-color:#d31c44; background:#d41c44; color:#fff; }
.m-pointlist .num-2 { border-color:#333; color:#333;  }
.m-pointlist .gift { vertical-align: middle; margin-top:-3px; margin-left:1px; }
.m-pointlist .line { position:absolute; top:19px; left:0; width:450px; z-index:0;  }

.m-pointlist .item-1 .num:before { content:''; position:absolute; right:-4px; bottom:-3px; width:13px; height:13px;
  background-image:url(../images/personal_userpoints.png);
  background-position:0 -100px;
}
.m-pointlist .item-1 .num-2 { background:#d31c44;border-color:#d31c44; color:#fff;}

.sign_area {
  position: relative;
  display: table;
  width: 220px;
  height: 100%;

}

.sign_area .info {
  padding: 30px 0 22px;
  text-align: center;
}

.sign_area .expiretip {
  z-index: 3;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -34px;
  width: 165px;
  border: 1px solid #DFDFDF;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background: #fff;
  font-size: 12px;
  color: #D12547;
  text-align: left;
}

.sign_area .expiretip:before,
.sign_area .expiretip:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  top:50%;
  margin-top: -9px;
}

.sign_area .expiretip:before{
  left: -16px;
  border-right-color: #DFDFDF;
  z-index:1;
}

.sign_area .expiretip:after{
  left: -15px;
  border-right-color: #fff;
  z-index:2;
}

.sign_area .expiretip .close{
  position: absolute;
  right:0;
  top: 0;
  cursor: pointer;
  color: #ccc;
  font-size: 24px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

.m-box-2 .icon { display:inline-block; width:16px; height:16px; background:url(../images/icon_check.png);vertical-align: text-bottom; margin-right:3px;  }
.m-checkedIn { position:absolute; left:10px;top:0; height:38px; line-height:38px; }
.m-checkedIn b { display:inline-block; width:18px; font-family:'iconfont'; }


.m-emptylist { height:150px; margin-top:60px; border-bottom:0px!important; }
.m-emptylist td { text-align:center; }

/* table layout */
.m-table { width:100%; table-layout: fixed;  }
.m-table thead { background:#F8F8F8; border:1px solid #EAEAEA; }
.m-table th { padding:10px 0; text-align:left; }
.m-table td {padding:25px 0;}
.m-table tr { border-bottom:1px solid #eaeaea; }
.m-table .first { padding-left:30px; }
.m-table .last { padding-right:30px; }

/* 我的考拉豆 */
.m-tabs {border-bottom:2px solid #333;margin-bottom:20px;margin-top: 40px;}
.m-tabs .tab { float:left; width:160px; height:36px; line-height:36px; color:#333; text-align:center; border-top:1px solid #d6d6d6; border-right:1px solid #d6d6d6;   }
.m-tabs .tab a { display:block; width:100%; height:100%; color:#333;  text-decoration: none;}
.m-tabs .tab a:hover { color:#333; }
.m-tabs .first { border-left:1px solid #d6d6d6; margin-left:-1px; }
.m-tabs .active { background:#333; color:#fff; border-top-color:#333; border-right:1px solid #333; }
.m-tabs .active a { color:#fff; }
.m-tabs .active a:hover { color:#fff; }
.m-tabs .last { float:right; width:120px; }

/* 兑换优惠券弹框 */
.m-dialog1 .body { text-align:center; }
.m-dialog1 .message{ position:relative; font-size:24px; text-align:left; }
.m-dialog1 .forbid { position:absolute; left:20px; }
/*.m-dialog1 .link { margin-left:26px; font-size:14px; color:#E31436; text-decoration: underline;   }*/
.m-dialog1 .link:hover { color:#E31436; }
.u-btn-cancel:hover { color:#E31436; }
.m-dialog1 .message { padding-left:50px; }


/* 签到提示 */
.m-dialog2 .message { font-size:20px; }
.m-dialog2 .icon { font-size:26px; margin-right:10px;}
.m-dialog2 .tip { font-size:14px; margin-left:38px; }
.m-dialog2 .cnt { display:inline-block; *display:inline;*zoom:1; text-align:left; }
.m-dialog3 { height:350px!important;  }
.m-dialog3 .message { font-size:22px; padding:0px 18px 10px; }
.m-dialog3 .body { padding-top:20px; }
.m-dialog3 .gift { margin-left:-32px; }



/* 兑换优惠券 */
.m-dialog4 .body {padding: 20px 32px;}
.m-dialog4 .message {padding-bottom: 27px;}

.m-point-wrap{
  font-size: 14px;
}
.u-page-title{
  margin: 0;
  color: #333;
  font-weight: bold;
  line-height: 18px;
}

.m-checkin-box{
  border: 1px solid #eaeaea;
}

.m-checkin-slider-box{
  margin-left: 221px;
  height: 100%;
}

.m-checkin-slider-box .m-banner-slider{
  height: 100%;
}
/*我的考拉豆签到样式*/
.m-point-box .u-icon-bean{
  margin-right: 10px;
  vertical-align: top;
}

.m-point-box .m-point {
  text-align: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.m-point-box .point-num-box{
  position: relative;
}

.m-point-box .point-num{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.m-point-box  .m-point-btn{
  padding-top: 7px;
}

.m-point-box .point-btn{
  color: inherit;
}

.m-checkin-btn-box{
  margin: 23px auto 0;
        width:138px
}

.m-checkin-btn-box .u-btn{
  float: none;
  width: 138px;
  border: 1px solid #E31436;
  line-height: 32px;
  height: 32px;
  font-size: 14px;
}

.m-checkin-btn-box .u-btn-checkin{
  background-color: #E31436;
  color: #fff;
}
.m-checkin-btn-box  .u-btn-checkin-end{
  background-color: #fff;
  border-color: #ddd;
  color: #999;
}
.m-checkin-btn-box .u-btn-checkin:hover{
  border-color: #F5345E;
  background-color: #F5345E;
}

.m-checkin-tip-box{
  padding: 5px;
  font-size: 12px;
}

.vividSlideTab {
  position: relative;
  height: auto;
  padding-bottom: 16px;
}

.vividSlideTab .tab {
  width: 170px;
  padding: 16px 0;
}

.vividSlideTab .link {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #333;
}

.vividSlideTab .link:hover {
  color: #333;
}

/* 兑换优惠券 */
.m-couponbox{
  padding-top: 14px;
}
.m-couponbox .title,
.m-privilege .title{
  margin: 0;
  color: #444;
  padding-bottom: 14px;
}
.m-couponbox-list{
  margin-right: -14px;
  margin-bottom: -7px;
}
.m-couponbox .m-couponbox-wrap{
  float: left;
  position: relative;
  z-index:4;
  width: 225px;
  height: 122px;
  margin: 0 10px 10px 0;
}
.m-couponbox .m-couponbox-wrap .m-descbox{
  padding: 5px 0;
  color: #c50538;
  display: none;
}
.m-couponbox .m-coupon{
  position: relative;
  background-color: #fff4f1;
  border: 1px solid #e6ddda;
  width: 100%;
  line-height: 16px;
  cursor: pointer;
}
.m-couponbox .m-coupon-dis{
  cursor: default;
}
.m-couponbox .m-coupon .terminalType{
  position: absolute;
  padding: 0 3px;
  top: -1px;
  right: -1px;
  background-color: #ff8e96;
  color: #fff;
  font-size: 12px;
}

.m-couponbox .m-couponbox-wrap:hover{
  z-index: 5;
}

.m-couponbox .m-couponbox-wrap.hover .m-coupon,
.m-couponbox .m-couponbox-wrap:hover .m-coupon{
  position: absolute;
  z-index: 10;
}
.m-couponbox .m-couponbox-wrap:hover .m-descbox,
.m-couponbox .m-couponbox-wrap.hover .detail,
.m-couponbox .m-couponbox-wrap:hover .detail{
  display: block;
}

.m-couponbox .m-couponbox-wrap:hover .m-coupon{
  background-color: #fff9f7;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
}

.m-couponbox .m-couponbox-wrap:hover .circular.right{
  background-color: #fff9f7;
  -webkit-box-shadow: inset 1px 1px 2px #ccc;
  -moz-box-shadow: inset 1px 1px 2px #ccc;
  box-shadow: inset 1px 1px 2px #ccc;
}

.m-couponbox .m-couponbox-wrap:hover .m-coupon,
.m-couponbox .m-couponbox-wrap:hover .circular{
  border-color: #cccccc;
}

.m-couponbox .head {
  position: relative;
  padding: 10px 22px;
  color: #fff;
  -webkit-transition: all .3s ease-in;
}

.m-couponbox .head-disabled {
  background: #ccc;
}

.m-couponbox .body {
  padding: 12px 14px;
  font-size: 12px;
}

.m-couponbox .amount{
  float: left;
  *display: inline;
  color: #d12548;
}
.m-couponbox .amount .amount-num{
  line-height: 49px;
}
.m-couponbox .condition-box {
  max-width: 110px;
  float: left;
  *
  display: inline;
  *
  zoom: 1;
  height: 49px;
  line-height: 49px;
  margin-left: 10px;
  font-size: 12px;
  color: #666;
}

.m-couponbox .condition-box p{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
}

.m-couponbox .condition{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 100%;
}

.m-couponbox .middle-line{
  position: relative;
  height: 0;
  font-size: 0;
  border-bottom: 1px dotted #d9d0cd;
}

.m-couponbox .middle-line .circular{
  content: '';
  position: absolute;
  border: 1px solid #e6ddda;
  width: 8px;
  height: 17px;
  top:50%;
  margin-top: -9px;
  background-color: #fff;
}

.m-couponbox .middle-line .circular.left{
  left:-1px;
  border-left:none;
  border-radius: 0 9px 9px 0;
}

.m-couponbox .middle-line .circular.right{
  right:-1px;
  border-right:none;
  border-radius: 9px 0 0 9px;
}

.m-couponbox .middle-line .left:before,
.m-couponbox .middle-line .right:before{
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  background: #fff;
  height: 18px;
  width: 17px;
  border-radius: 50%;
}
.m-couponbox .middle-line .left:before{
  left: auto;
  right: 4px;
}
.m-couponbox .detail{
  display: none;
  padding-bottom: 11px;
  color: #666;
}
.m-couponbox .more, .m-couponbody .more {
  position: relative;
}

.m-couponbox .descbox, .m-exchange .descbox, .m-couponbody .descbox {
  display: none;
  position: absolute;
  left: -84px;
  top: 23px;
  width: 274px;
  padding: 10px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #DFDFDF;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.m-couponbox .arrow, .m-couponbody .arrow {
  position: absolute;
  left: 50%;
  top: -8px;
  margin-left: -7px;
}

.m-couponbox .cnt {
  max-height: 150px;
  overflow-y: auto;
  color: #666;
}

.m-exchange-box{
  text-align: center;
}
.m-couponbox .exchangebtn {
  width: 116px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  float: none;
  border: 1px solid #E31436;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 13px;
  color: #E31436;
}

.m-couponbox-footer .more-arrow{
  position: relative;
  float: right;
  width: 0;
  height: 0;
  font-size: 0;
  border-width: 5px;
  border-style: solid;
  border-color:#fff;
}
.m-couponbox-footer{
  padding-top: 2px;
  line-height: 20px;
  height: 20px;
}
.m-couponbox-footer .more-arrow.up{
  border-bottom-color: #51b8f1;
  margin: 2px 0 0 3px;
}
.m-couponbox-footer .more-arrow.down{
  border-top-color: #51b8f1;
  margin: 7px 0 0 3px;
}
.m-couponbox-footer .more-arrow:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.m-couponbox-footer .more-arrow.up:after{
  border-bottom-color: #fff;
  left: -5px;
  top: -3px;
}

.m-couponbox-footer .more-arrow.down:after{
  border-top-color: #fff;
  left: -5px;
  top: -7px;
}
.m-couponbox .arrowleft {
  margin-top: -2px;
}

.m-couponbox .extra {
  height: 40px;
  margin-left: 65px;
  margin-top: -20px;
}

/*优惠卷适用范围浮层样式*/
.m-dialog-CouponDesc{
  border-color: #ddd;
}

.m-dialog-CouponDesc .head{
  border-color: #e1e1e1;
}

.m-dialog-CouponDesc .body{
  padding: 25px 25px 30px;
}

.m-dialog-CouponDesc .message{
  padding-bottom: 9px;
  line-height: 20px;
  text-align: left;
  color: #666;
}

.m-dialog-CouponDesc .message .dec{
  padding-bottom: 5px;
  font-size: 12px;
}
.m-dialog-CouponDesc .dec .view{margin-left: 20px;display: inline-block;}
.m-dialog-CouponDesc .title{
  line-height: 33px;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.m-dialog-CouponDesc .subtitle{

}
.m-dialog-CouponDesc .btn{
  border-radius: 0;
  font-size: 14px;
}
.m-exchange {
  position: relative;
}

.m-exchange .descbox {
  padding: 15px;
  line-height: 17px;
}

.m-exchange.exchangebtn-dis{
  border-color: #ccc;
  color: #ccc;
  cursor: default;
}

/*兑换优惠卷提示浮层*/
.m-couponbody {
  text-align: center;
}

.m-couponbody h3 {
  padding-bottom: 11px;
  line-height: 41px;
  text-align: center;
  font-size: 24px;
  color: #000;
}

.m-couponbody .coupondetail {
  font-size: 0;
  padding: 13px 18px;
  margin: 0 auto;
  border: 1px solid #e6ddda;
  border-radius: 2px;
  background-color: #fff3f0;
  position: relative;
  display: inline-block;
}

.m-couponbody .coupondetail:after,
.m-couponbody .coupondetail:before {
  content: '';
  position: absolute;
  border: 1px solid #e6ddda;
  width: 8px;
  height: 17px;
  top: 50%;
  margin-top: -9px;
  background-color: #fff;
}

.m-couponbody .coupondetail:before{
  left: -1px;
  border-left: none;
  border-radius: 0 9px 9px 0;
}

.m-couponbody .coupondetail:after{
  right: -1px;
  border-right: none;
  border-radius: 9px 0 0 9px;
}

.m-couponbody .couponbg {
  vertical-align: middle;
  *
  display: inline;
  zoom: 1;
  display: inline-block;
  text-align: center;
  width: 111px;
  height: 59px;
}

.m-couponbody  .amount-box{
padding: 6px 0 5px;
border-right: 1px solid #e6ddda;
}

.m-couponbody  .amount{

}

.m-couponbody  .amount .currency{
    font-size: 18px;
}

.m-couponbody  .amount .num{
    font-size: 29px;
}

.m-couponbody  .condition{

}

.m-couponbody  .tip{
  text-align: left;
  line-height: 16px;
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}
.m-couponbody  .tip .view{margin-left: 20px;display: inline-block;}
.m-couponbody .detailwrap {
  vertical-align: middle;
  display: inline-block;
  color: #333;
  font-size: 13px;
}

.m-couponbody .detail {
  padding-left: 22px;
  line-height: 18px;
  text-align: left;
}
.m-couponbody .detail li{
  max-width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-couponbody .amount {
  *display: inline;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #d12548;
  font-weight: bold;
}

.m-couponbody .condition {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

.m-couponbody .extra {
  width: 160px;
  height: 20px;
  margin-left: 60px;
  margin-top: -18px;
}

.m-couponbody .descbox {
  left: -166px;
  top: 20px;
}

.m-couponbody .cnt {
  color: #666;
}

/*兑换特权列表*/
.m-privilege-list{
  margin-right: -16px;
}

.m-privilege-list .m-privilege-item{
  width: 456px;
  overflow: hidden;
  margin: 0 15px 15px 0;
  border: 1px solid #eaeaea;
}

.m-privilege-list .m-privilege-link{
  width: 100%;
}

.m-privilege-link:hover{
  text-decoration: none;
}

.m-privilege-list .m-privilege-item,
.m-privilege-list .m-privilege-link,
.m-privilege-list .u-privilege-img{
  float: left;
}

.m-privilege-list .u-privilege-img{
  position: relative;
  width: 188px;
  height: 188px;
  text-align: center;
}
.m-privilege-list .u-privilege-img:before{
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  font-size:0;
  vertical-align: middle;
}

.m-privilege-list .u-privilege-img img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.m-privilege-list .u-privilege-img:hover img{
  opacity: 0.85;
}
.m-privilege-list .m-privilege-detail{
  padding: 16px 20px 20px 208px;
  color: #333;
  font-size: 14px;
}

.m-privilege-list .u-privilege-desc,.m-privilege-list .u-privilege-title{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.m-privilege-list .u-privilege-title{
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.m-privilege-list .u-use-point{
  color: #d12548;
  height: 21px;
  line-height: 23px;
  color: #d12548;
  padding: 3px;
}

.m-privilege-list .u-use-point .point{
  display: inline-block;
  line-height: 21px;
  font-size: 28px;
  font-weight: bold;
}

.m-privilege-list .u-use-point .point-units{
  position: relative;
  top: -1px;
}

.m-privilege-list .u-old-use-point{
  color: #999;
  padding-bottom: 15px;
}

.m-privilege-list .u-btn{
  width: 88px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background-color: #d12548;
  border: 1px solid #d12548;
}
.m-privilege-list .u-btn:hover{
  border-color: #F5345E;
  background-color: #F5345E;
}
/*已抢光*/
.m-privilege-list .u-btn.over{
  background-color: #fff;
  border-color: #E31436;
  color: #E31436;
}

/*兑换完*/
.m-privilege-list .u-btn.dis{
  background-color: #ccc;
  border-color: #ccc;
  cursor: default;
}

/*兑换记录列表*/
.m-exchangeHistoryList{
  font-size: 12px;
}

.m-exchangeHistoryList .u-title-link{
  color: inherit;
}

.m-exchangeHistoryList td,
.m-exchangeHistoryList th {
  padding: 0 20px 0 23px;
}

.m-exchangeHistoryList td.last,
.m-exchangeHistoryList th.last{
  padding-right: 0px;
}

.m-exchangeHistoryList th{
  height: 34px;
}

.m-exchangeHistoryList td{
  height: 56px;
}

.m-exchangeHistoryList{
  font-size: 12px;
  margin-bottom: 30px;
}

.m-checkinCalendarPrompt-box{
  position: absolute;
  padding-top: 11px;
  z-index: 1000;
        left:-100px
}

.m-checkinCalendarPrompt{
  padding: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  background: #fff;
  z-index: -1;
}

.m-checkinCalendarPrompt-tip{
  padding-bottom: 11px;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.m-checkinCalendarPrompt .u-icon-arrowup{
  position: absolute;
  left: 50%;
  top: 3px;
  margin-left: -8px;
}
/*考拉豆日期控件样式*/
.m-checkinCalendar .isGiftDay .before,
.m-checkinCalendar .isSigned .before,
.m-checkinCalendar .calendar-hd .before{
  position: absolute;
  background-image: url(//mm.bst.126.net/images/checkinCalendar/checkinCalendar-sprite.png?73a880ec7dfa4eaac823f70f1c7602b0);

}
.m-checkinCalendar{
  padding: 8px;
  width: 398px;
  height: 322px;
  background-color: #fee7e9;
  font-size: 14px;
}

.m-checkinCalendar .calendar-hd{
  position: relative;
  padding: 0 25px 6px;
  height: 23px;
  line-height: 23px;
}

.m-checkinCalendar .calendar-hd .before{
  width: 14px;
  height: 15px;
  left: 4px;
  top: 4px;
  background-position: 0 0;
}

.m-checkinCalendar .calendar-bd{

}

.m-checkinCalendar .calendar-week-box{
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #c21438;
  text-align: center;
}

.m-checkinCalendar .calendar-week{
  width: 56px;
  float: left;
  border-right: 1px solid transparent;
}

.m-checkinCalendar .calendar-week.last{
  border: none;
}

.m-checkinCalendar .calendar-day{
  font-size: 14px;
}

.m-checkinCalendar .calendar-days{
  margin-right: -1px;
  margin-bottom: -1px;
  font-size: 12px;
}

.m-checkinCalendar .calendar-day-box{
  position: relative;
  padding: 3px 0 3px 12px;
  margin: 0 1px 1px 0;
  width: 44px;
  height: 36px;
  float: left;
  background-color: #fff;
  line-height: 18px;
  font-size: 14px;
}

.m-checkinCalendar .canGetPrint{
  color: #999;
  line-height: 16px;
}

.m-checkinCalendar .isSigned .before{
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-position: 0 -37px;
}

.m-checkinCalendar .isSigned .canGetPrint{
  color: #333;
  font-weight: bold;
}

.m-checkinCalendar .today .calendar-day{
  color: #d12548;
}

.m-checkinCalendar .today .after{
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #d22248;
}

.m-checkinCalendar .no-nowMonth-day{
  color: #ccc;
}

.m-checkinCalendar .isGiftDay .before{
  width: 18px;
  height: 19px;
  right: 2px;
  bottom: 2px;
  background-position: 0 -17px;
}

.m-banner-slider,
.m-banner-slider .m-banner-list,
.m-banner-slider .m-banner-list a,
.m-banner-slider .m-banner-list .item,
.m-banner-slider .m-banner-list .showImg{
  height: 100%;
}

.m-banner-slider{
  position: relative;
  z-index: 2;
}

.m-banner-slider .m-banner-list a,
.m-banner-slider .m-banner-list .item{
  display: inline-block;
}

.m-banner-slider .m-banner-list .item{
  position: absolute;
}

.m-banner-slider .m-banner-list .showImg{
  width: 100%;
}

.m-banner-slider .m-banner-nav{
  position: absolute;
  z-index:11;
  bottom: 10px;
  font-size: 0;
  text-align: center;
  width: 100%;
}

.m-banner-slider .m-banner-nav .nav-box{
  display: inline-block;
  padding: 0 10px;
  background-color: rgba(102, 102, 102, 0.5);
  border-radius: 10px;
}

.m-banner-slider .m-banner-nav .nav-item{
  float: left;
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
}

.m-banner-slider .m-banner-nav .active{
  background-color: #e31436;
}

.w-icon-13 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -46px 0 0 -45px;
  width: 91px;
  height: 92px;
  background-position: -463px -382px;
}


#sign_area > a{display:none}